In [1]:
import pickle
import pandas as pd

In [2]:
col_names = ['CUI', 'LAT', 'TS', 'LUI', 'STT', 'SUI', 'ISPREF', 'AUI', 'SAUI',
             'SCUI', 'SDUI', 'SAB', 'TTY', 'CODE', 'STR', 'SRL', 'SUPPRESS', 'CVF']

In [3]:
df = pd.read_csv('../data/2021AA-full/2021AA/META/MRCONSO.RRF', header=None, sep='|')

/home/rogertu/anaconda3/envs/semmed/lib/python3.5/site-packages/IPython/core/interactiveshell.py:3018: DtypeWarning: Columns (9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,C0000005,ENG,P,L0000005,PF,S0007492,Y,A26634265,NaN,M0019694,D012711,MSH,PEP,D012711,(131)I-Macroaggregated Albumin,0,N,256.0,NaN
1,C0000005,ENG,S,L0270109,PF,S0007491,Y,A26634266,NaN,M0019694,D012711,MSH,ET,D012711,(131)I-MAA,0,N,256.0,NaN
2,C0000005,FRE,P,L6220710,PF,S7133957,Y,A13433185,NaN,M0019694,D012711,MSHFRE,PEP,D012711,Macroagrégats d'albumine marquée à l'iode 131,3,N,NaN,NaN
3,C0000005,FRE,S,L6215648,PF,S7133916,Y,A27488794,NaN,M0019694,D012711,MSHFRE,ET,D012711,MAA-I 131,3,N,NaN,NaN
4,C0000005,FRE,S,L6215656,PF,S7133956,Y,A27614225,NaN,M0019694,D012711,MSHFRE,ET,D012711,Macroagrégats d'albumine humaine marquée à l'i...,3,N,NaN,NaN

In [5]:
print(len(df))
print(df[18].count())

16132273
0

In [6]:
# Fix the fact that rows end with a pipe, producing an extra entirely empty column
df = df.iloc[:, :-1]

In [7]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,C0000005,ENG,P,L0000005,PF,S0007492,Y,A26634265,NaN,M0019694,D012711,MSH,PEP,D012711,(131)I-Macroaggregated Albumin,0,N,256.0
1,C0000005,ENG,S,L0270109,PF,S0007491,Y,A26634266,NaN,M0019694,D012711,MSH,ET,D012711,(131)I-MAA,0,N,256.0
2,C0000005,FRE,P,L6220710,PF,S7133957,Y,A13433185,NaN,M0019694,D012711,MSHFRE,PEP,D012711,Macroagrégats d'albumine marquée à l'iode 131,3,N,NaN
3,C0000005,FRE,S,L6215648,PF,S7133916,Y,A27488794,NaN,M0019694,D012711,MSHFRE,ET,D012711,MAA-I 131,3,N,NaN
4,C0000005,FRE,S,L6215656,PF,S7133956,Y,A27614225,NaN,M0019694,D012711,MSHFRE,ET,D012711,Macroagrégats d'albumine humaine marquée à l'i...,3,N,NaN

In [8]:
df.shape

(16132273, 18)

In [9]:
df.columns = col_names

In [10]:
df.head()

,CUI,LAT,TS,LUI,STT,SUI,ISPREF,AUI,SAUI,SCUI,SDUI,SAB,TTY,CODE,STR,SRL,SUPPRESS,CVF
0,C0000005,ENG,P,L0000005,PF,S0007492,Y,A26634265,NaN,M0019694,D012711,MSH,PEP,D012711,(131)I-Macroaggregated Albumin,0,N,256.0
1,C0000005,ENG,S,L0270109,PF,S0007491,Y,A26634266,NaN,M0019694,D012711,MSH,ET,D012711,(131)I-MAA,0,N,256.0
2,C0000005,FRE,P,L6220710,PF,S7133957,Y,A13433185,NaN,M0019694,D012711,MSHFRE,PEP,D012711,Macroagrégats d'albumine marquée à l'iode 131,3,N,NaN
3,C0000005,FRE,S,L6215648,PF,S7133916,Y,A27488794,NaN,M0019694,D012711,MSHFRE,ET,D012711,MAA-I 131,3,N,NaN
4,C0000005,FRE,S,L6215656,PF,S7133956,Y,A27614225,NaN,M0019694,D012711,MSHFRE,ET,D012711,Macroagrégats d'albumine humaine marquée à l'i...,3,N,NaN

In [11]:
msh_rows = df.query('SAB == "MSH"')

In [12]:
grpd = msh_rows.groupby('CUI')
cui_to_msh = dict()
for label, df in grpd:
    cui_to_msh[label] = list(set(df['SDUI']))

In [13]:
print(len(cui_to_msh))

452900

In [14]:
# There are a few with multiple mappings...
for v in cui_to_msh.values():
    if len(v) > 1:
        print(v)

['C518939', 'C000604456']
['C021759', 'D000068717']
['C000633766', 'C581233']
['C545813', 'C002471']
['D014642', 'C475474']
['C073316', 'C576565']
['C005871', 'C040937']
['D011623', 'C000629556']
['D000078222', 'C029010']
['D006873', 'C031927']
['D008382', 'C531742']
['C482580', 'C585069']
['C029658', 'D011422']
['C000608228', 'C447941']
['C024989', 'D014451']
['C049078', 'C043062']
['C545185', 'C000708859']
['D011760', 'C028537']
['C516370', 'C514960']
['D016954', 'C000647911']
['C049051', 'C088327']
['C000664606', 'C000664607']
['C501637', 'C501466']
['C010770', 'C480180']
['C000616971', 'C000617225']
['D015572', 'C017186']
['C024560', 'D000080027']
['C064107', 'C007028']
['C000642628', 'C000642239']
['C582182', 'C578859']
['C021883', 'C021882']
['C481039', 'C485206']
['D001455', 'C419802']
['D014339', 'C535464']
['C485829', 'C494366']
['C506282', 'C107773']
['C011439', 'D004075']
['C000628544', 'C007350']
['C485829', 'C494366']
['C000633987', 'C066786']
['C061442', 'D000077423']
['C033674', 'C401764']
['C032435', 'C486719']
['C431086', 'C033343']
['C015293', 'C583010']
['C078874', 'C022326']
['C000656566', 'C000654593']
['C000705207', 'C580533']
['C000640236', 'C000640231', 'C000640538']
['D050398', 'C562741']
['C052091', 'C000628649']
['C083181', 'C119571']
['C499142', 'C513399']
['C057374', 'C021377']
['C068339', 'C462399']
['C091761', 'D001963']
['C031032', 'C000626491']
['C022653', 'C115504']
['C000634424', 'C496400']

In [15]:
pickle.dump(cui_to_msh, open('../data/UMLS-CUI_to_MeSH-Descripctor.pkl', 'wb'))

## Get a quick and dirty name map for the 1to1 id to values

In [16]:
cui_to_msh_1t1 = {k: v[0] for k, v in cui_to_msh.items() if len(v) == 1}

Just take any mapping... we'll get more "Correct" names for as many as we can later

In [17]:
cuis = list(cui_to_msh_1t1.keys())
to_name = msh_rows.query('CUI in @cuis')
msh_to_name = to_name.drop_duplicates(subset=["SDUI"]).set_index('SDUI')['STR'].to_dict()

In [18]:
pickle.dump(msh_to_name, open('../data/MeSH_to_name_quick_n_dirty.pkl', 'wb'))